html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="./../styles.min.css")
        title Image slider
    body
        .slider
            .toggle 
                button Fade in
            .container
                .btn-prev 
                    button#prev &#x1F448;
                .pics
                    .pic-cont.fade-in-position
                        img(src="../static/1.jpg", alt="scenery photo")#img-0.current
                        img(src="../static/2.jpg", alt="scenery photo")#img-1
                        img(src="../static/3.jpg", alt="scenery photo")#img-2
                .btn-next 
                    button#next &#x1F449;
            .dot-cont
                span#dot-0.dot.current-dot
        script(src="../scripts.min.js")