html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="./../styles.min.css")
        title Image slider
    body
        .slider
            .toggle 
                p Fade in
            .container
                .btn-prev 
                    button &#x1F448;
                .pics
                    img(src="../static/1.jpg", alt="scenery photo").current
                    img(src="../static/2.jpg", alt="scenery photo")
                    img(src="../static/3.jpg", alt="scenery photo") 
                .btn-next 
                    button &#x1F449;
            .dot-cont
                span#dot-0.dot.current-dot
                span#dot-1.dot
                span#dot-2.dot
        script(src="../scripts.min.js")